* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 2px solid red; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bebas Neue', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}

.pop-up {
  transform: scale(1);
  transition: all 0.2s ease-in;
}

.pop-up:hover {
  transform: scale(1.03);
  transition: all 0.2s ease-in;
}

.like-buttom {
  opacity: 0%;
}

.like-buttom:hover {
  opacity: 100%;
}